:root {
    --primary-color: #43BCB1;
    --secondary-color: #69C9C1;
}

* {
    font-family: 'Karla', sans-serif;
}

body {
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    background-color: var(--secondary-color);
    padding: 10px;
}